<div class="instructions">
    {{#markdown}}{{i18n ../levelInstructions}}{{/markdown}}
    <hr>
    <p>{{i18n "instructions.templateCode"}}
        <pre>{{i18n levelStarterCode }}</pre>
    </p>

    <button name="begin" class="bg-primary">{{i18n "instructions.begin"}}</button>
</div>
