<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/css/base16-light.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">

    <title>{{i18n "mainTitle"}}</title>
  </head>
  <body>


    {{{body}}}


    {{!-- Also includes jQuery and Bootstrap.js --}}
    {{!-- <script type="text/javascript" src="/js/app.js"></script> --}}
    <script type="text/javascript" src="/js/app.min.js"></script>
  </body>
</html>
